<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="/lang-logo.png">
        </a>
        <h1>JOHN ONYEKACHI</h1>
        <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation
          for understanding how to get the most out of the Heroku platform.
          During Intership program with HashStudy 2022. Time to step up!
        </p>
        <a type="button" class="btn btn-lg btn-default" href="https://johnonyekachi.wordpress.com/"><span
            class="glyphicon glyphicon-flash"></span> Getting Started with Node Js HashStudy </a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/ojcool"><span
            class="glyphicon glyphicon-download"></span> Source on My GitHub</a>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-info text-center" role="alert">
        Welcome to my world, My name is John Onyekachi Michael , I have substantial knowledge, experience and
        understanding in the area of ICT as a Software Engineer , Solution Architect, Robotics Process Automation
        Engineer and IT Support Expert, I am very passionately that ICT has the power to enhance and develop the world
        into a digital state more than the present generation, and that this is vital in a world where 90% of the
        ecosystem requires Technology in part or whole to function.
        Reach out to me for free consultation on your website development, Mobile app development, automation of
        business processes, enterprise business application solutions and general ICT practices.
        https://www.linkedin.com/in/ojcool/
        @ojcool247
        onyekachi.john@outlook.com

        <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started
          with Node on Heroku</a> tutorial.
      </div>
      <hr>

    </div>



</body>

</html>